<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Finance, Accounting, Management, Energy with AI Conference - Speakers</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap-5.0.0-beta2.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- ========================= header start ========================= -->
    <%- include('./helpers/header') %>

    <!-- ========================= header end ========================= -->

    <!-- ========================= speakers-section start ========================= -->
    <section id="speakers" class="speakers-section pt-150">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-6 col-xl-7 col-lg-8">
            <div class="section-title text-center mb-60">
              <h1>Meet Our Speakers</h1>
              <p>Join us to hear from industry experts in Finance, Accounting, Management, and Energy with AI. Our speakers are leaders in their fields and will share their insights and experiences.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center " hidden>
        
            <div class="col-lg-4 col-md-6 col-sm-10 ">
              <div class="single-speaker">
                <div class="speaker-img">
                 
                    <img src="" class="img-thumbnail rounded-circle mb-2"
                      alt="">
                  
                </div>
                <div class="speaker-content">
                  <h3></h3>
                  <span></span>
    
                  <a href="" class="main-btn btn-hover mt-2 mb-2">Learn More</a>
                
                </div>
              </div>
            </div>
         
        </div>
      </div>
    </section>
    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-7 col-lg-8">
        <div class="section-title text-center mt-60">
          <h2>More Speakers to be Announced</h2>
          <p>Stay tuned for more exciting speaker announcements. We are bringing together the best minds in the industry.</p>
        </div>
      </div>
    </div>
    <!-- ========================= speakers-section end ========================= -->

    <!-- ========================= footer start ========================= -->
    <%- include('./helpers/footer') %>
    <!-- ========================= footer end ========================= -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/js/bootstrap-5.0.0-beta2.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>