<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Babis Kolokouris <script>
                document.addEventListener('DOMContentLoaded', (event) => {
                    const yearSpan = document.createElement('span');
                    yearSpan.textContent = new Date().getFullYear();
                    document.querySelector('.copyright').appendChild(yearSpan);
                });
            </script></span>
        
        </div>
    </div>
</footer>