<section id="committee" class="committee-section pt-150">
    <div class="container">
        <div class="row justify-content-center mt-1">
            <div class="col-xxl-6 col-xl-7 col-lg-8">
                <div class="section-title text-center mb-2">
                    <h1>Conference Organizers</h1>
                    <p>Meet the distinguished organizational team of FAME 2025, dedicated to excellence and innovation.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1 text-center">
                <div class="single-member">
                    <img src="/img/chairs/floros.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Christos Floros</h4>
                    <p><strong>Chair</strong></p>
                    <p>Director of the Research Laboratory in Accounting and Financial Management</p>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/chairs/zoupounidis.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Constantin Zopounidis</h4>
                    <p><strong>Co-Chair</strong></p>
                    <p>Professor</p>
                    <p>Technical University of Crete, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/chairs/spanaki.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Konstantina Spanaki</h4>
                    <p><strong>Co-Chair</strong></p>
                    <p>Associate Professor</p>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/chairs/lemonakis.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Christos Lemonakis</h4>
                    <p><strong>Co-Chair</strong></p>
                    <p>Associate Professor</p>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-100">
            <div class="col-xxl-6 col-xl-7 col-lg-8">
                <div class="section-title text-center mb-60">
                    <h1>Scientific Committee</h1>
                    <p>Meet the esteemed members of our scientific committee who bring a wealth of knowledge and
                        expertise to
                        the conference.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >
                    <h4>Alaa Marshan</h4>
                    <p>University of Surrey, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Anastasia Griva</h4>
                    <p>University of Galway, Ireland</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Ariana Polyviou</h4>
                    <p>Cyprus University of Technology, Cyprus</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Athina Ioannou</h4>
                    <p>Surrey Business School, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Christianna Chimonaki</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Dimitrios Kirikos</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Dimitrios Volterinos</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Diogenis Baboukardos</h4>
                    <p>Athens University of Economics and Business, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Efpraxia Zamani</h4>
                    <p>Durham Business School, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Efthalia Tabouratzi</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Eleni Lioliou</h4>
                    <p>Queen Mary University of London, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Emmanuel Mamatzakis</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Femi Olan</h4>
                    <p>Essex Business School, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>George Agiomirgianakis</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>George Galifianakis</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Ioannis Chatziantoniou</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Kayode Odusanya</h4>
                    <p>Loughborough University, UK</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Konstantinos Baltas</h4>
                    <p>Essex Business School, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Konstantinos Gkillas</h4>
                    <p>University of Patras, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Maria Elisavet Balta</h4>
                    <p>Kent Business School, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Maria Tantoula</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Michael Doumpos</h4>
                    <p>Technical University of Crete, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Myron Benioudakis</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Nancy Pouloudi</h4>
                    <p>Athens University of Economics and Business, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Nikolaos Korfiatis</h4>
                    <p>Ionian University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Patrick Mikalef</h4>
                    <p>NTNU, Norway</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Ransome Bawack</h4>
                    <p>Audencia Business School, France</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Spyros Angelopoulos</h4>
                    <p>Durham Business School, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Stavros Arvanitis</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Stavroula Yfanti</h4>
                    <p>Queen Mary University of London, UK</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Stelios Papadakis</h4>
                    <p>Hellenic Mediterranean University, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Stella Despoudi</h4>
                    <p>University of Western Macedonia, Greece</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 text-center mb-1">
                <div class="single-member">
                    <img src="/img/speaker/default.jpg" alt="Member Image" class="rounded-circle img-thumbnail"
                        style="width: 100px; height: 100px; object-fit: cover; margin-bottom:3%;"  >

                    <h4>Thanos Papadopoulos</h4>
                    <p>Kent Business School, UK</p>
                </div>
            </div>
        </div>
</section>